.assistant-class-quiz-container {
  margin-top: 50px;
}

.assistant-class-quiz-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.assistant-class-quiz-title {
  margin-bottom: 20px;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
}

.assistant-class-quiz-items {
  padding: 5px 5px 5px 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.assistant-class-quiz-button {
  float: right;
}