.assistant-class-members-container {
  margin-top: 50px;
}

.assistant-class-members-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.assistant-class-members-title {
  margin-bottom: 20px;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
}

.assistant-class-members-items {
  /* padding: 5px 5px 5px 5px; */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.assistant-class-members-search {
  display: flex;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.assistant-members-button {
  float: right;
}